/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

/* Groups & Items  (Mobile First) */

main {
  justify-content: center;
  background-color: darkslategray;
  padding: 20px;
}

header {
  padding: 20px;
  background-color: darkslategray;
  padding-bottom: 0;
}

body {
  margin: 10px;
  border: 5px solid;
  padding: 0;
  background-image: url(images/stars.jpg);
  background-repeat: repeat;
  background-position: top;
  background-size: 100%;
  background-color: darkslategray;
  color: #fff;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

h1 {
  text-align: center;
  margin: auto;
  background-color: darkslategray;
}

img {
  width: 90%;
}
.wrapper {
  justify-content: center;
  text-align: center;
  width: 50%;
  margin: auto;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
}

.center {
  justify-content: center;
}

/* Groups & Items  (Desktop) */
@media all and (min-width: 800px) {
  body {
    margin: 100px;
    background-image: url(images/stars.jpg);
    background-repeat: no-repeat;
    background-size: 125%;
  }
}